In [ ]:
import sys
from pathlib import Path
sys.path.append(str(Path().resolve().parent/"src"))

from data_loader import load_data

We will start by taking a look at the dataset

In [2]:
data = load_data("bbc-text.csv", "raw", False)

In [3]:
data.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

And we will check for any null values

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  2225 non-null   object
 1   text      2225 non-null   object
dtypes: object(2)
memory usage: 34.9+ KB

Since there are no null values, we will see what are the article categories that the dataset contains

In [5]:
data.category.value_counts()

category
sport            511
business         510
politics         417
tech             401
entertainment    386
Name: count, dtype: int64

As we were able to find that there are 5 categories of articles present in the dataset, we can now proceed to data preprocessing